/*********************** CWE As Needed ********************************/

div#__CWE_AS_NEEDED_ICON {
    display: none;
    position: absolute;
    border: none;
    width: 16px;
    height: 16px;
    z-index: -1;
}

div#__CWE_AS_NEEDED_ICON[visible] {
    display: inline-block;
    z-index: 2147483649 !important;
}