.svg-account_face {
    background: url("cw-sprite.svg") 0 0 no-repeat;
}

.svg-account_face-dims {
    width: 24px;
    height: 24px;
}

.svg-add {
    background: url("cw-sprite.svg") 20% 0 no-repeat;
}

.svg-add-dims {
    width: 24px;
    height: 24px;
}

.svg-add_circle {
    background: url("cw-sprite.svg") 0 20% no-repeat;
}

.svg-add_circle-dims {
    width: 24px;
    height: 24px;
}

.svg-arrow_back_grey {
    background: url("cw-sprite.svg") 20% 20% no-repeat;
}

.svg-arrow_back_grey-dims {
    width: 24px;
    height: 24px;
}

.svg-bookmark {
    background: url("cw-sprite.svg") 40% 0 no-repeat;
}

.svg-bookmark-dims {
    width: 24px;
    height: 24px;
}

.svg-check {
    background: url("cw-sprite.svg") 40% 20% no-repeat;
}

.svg-check-dims {
    width: 24px;
    height: 24px;
}

.svg-close {
    background: url("cw-sprite.svg") 0 40% no-repeat;
}

.svg-close-dims {
    width: 24px;
    height: 24px;
}

.svg-developer_mode {
    background: url("cw-sprite.svg") 20% 40% no-repeat;
}

.svg-developer_mode-dims {
    width: 24px;
    height: 24px;
}

.svg-directions_run {
    background: url("cw-sprite.svg") 40% 40% no-repeat;
}

.svg-directions_run-dims {
    width: 24px;
    height: 24px;
}

.svg-dji_sign_out {
    background: url("cw-sprite.svg") 60% 0 no-repeat;
}

.svg-dji_sign_out-dims {
    width: 24px;
    height: 24px;
}

.svg-exit_to_app {
    background: url("cw-sprite.svg") 60% 20% no-repeat;
}

.svg-exit_to_app-dims {
    width: 24px;
    height: 24px;
}

.svg-format_size {
    background: url("cw-sprite.svg") 60% 40% no-repeat;
}

.svg-format_size-dims {
    width: 24px;
    height: 24px;
}

.svg-group_add {
    background: url("cw-sprite.svg") 0 60% no-repeat;
}

.svg-group_add-dims {
    width: 24px;
    height: 24px;
}

.svg-import_contacts {
    background: url("cw-sprite.svg") 20% 60% no-repeat;
}

.svg-import_contacts-dims {
    width: 24px;
    height: 24px;
}

.svg-import_contacts_white {
    background: url("cw-sprite.svg") 40% 60% no-repeat;
}

.svg-import_contacts_white-dims {
    width: 24px;
    height: 24px;
}

.svg-language {
    background: url("cw-sprite.svg") 60% 60% no-repeat;
}

.svg-language-dims {
    width: 24px;
    height: 24px;
}

.svg-lock {
    background: url("cw-sprite.svg") 80% 0 no-repeat;
}

.svg-lock-dims {
    width: 24px;
    height: 24px;
}

.svg-mic {
    background: url("cw-sprite.svg") 80% 20% no-repeat;
}

.svg-mic-dims {
    width: 24px;
    height: 24px;
}

.svg-mic_blue {
    background: url("cw-sprite.svg") 80% 40% no-repeat;
}

.svg-mic_blue-dims {
    width: 24px;
    height: 24px;
}

.svg-mic_off {
    background: url("cw-sprite.svg") 80% 60% no-repeat;
}

.svg-mic_off-dims {
    width: 24px;
    height: 24px;
}

.svg-mic_white {
    background: url("cw-sprite.svg") 0 80% no-repeat;
}

.svg-mic_white-dims {
    width: 24px;
    height: 24px;
}

.svg-music_note {
    background: url("cw-sprite.svg") 20% 80% no-repeat;
}

.svg-music_note-dims {
    width: 24px;
    height: 24px;
}

.svg-pause {
    background: url("cw-sprite.svg") 40% 80% no-repeat;
}

.svg-pause-dims {
    width: 24px;
    height: 24px;
}

.svg-person_add {
    background: url("cw-sprite.svg") 60% 80% no-repeat;
}

.svg-person_add-dims {
    width: 24px;
    height: 24px;
}

.svg-play_arrow {
    background: url("cw-sprite.svg") 80% 80% no-repeat;
}

.svg-play_arrow-dims {
    width: 24px;
    height: 24px;
}

.svg-power_settings_new {
    background: url("cw-sprite.svg") 100% 0 no-repeat;
}

.svg-power_settings_new-dims {
    width: 24px;
    height: 24px;
}

.svg-read {
    background: url("cw-sprite.svg") 100% 20% no-repeat;
}

.svg-read-dims {
    width: 24px;
    height: 24px;
}

.svg-read_white {
    background: url("cw-sprite.svg") 100% 40% no-repeat;
}

.svg-read_white-dims {
    width: 24px;
    height: 24px;
}

.svg-remove_circle {
    background: url("cw-sprite.svg") 100% 60% no-repeat;
}

.svg-remove_circle-dims {
    width: 24px;
    height: 24px;
}

.svg-search {
    background: url("cw-sprite.svg") 100% 80% no-repeat;
}

.svg-search-dims {
    width: 24px;
    height: 24px;
}

.svg-selected_text {
    background: url("cw-sprite.svg") 0 100% no-repeat;
}

.svg-selected_text-dims {
    width: 24px;
    height: 24px;
}

.svg-settings {
    background: url("cw-sprite.svg") 20% 100% no-repeat;
}

.svg-settings-dims {
    width: 24px;
    height: 24px;
}

.svg-speech_back {
    background: url("cw-sprite.svg") 40% 100% no-repeat;
}

.svg-speech_back-dims {
    width: 24px;
    height: 24px;
}

.svg-translate {
    background: url("cw-sprite.svg") 60% 100% no-repeat;
}

.svg-translate-dims {
    width: 24px;
    height: 24px;
}

.svg-volume_up {
    background: url("cw-sprite.svg") 80% 100% no-repeat;
}

.svg-volume_up-dims {
    width: 24px;
    height: 24px;
}

