.dji-svg-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('chrome-extension://__MSG_@@extension_id__/Graphics/sprite/cw/cw-sprite.svg');
}